<app-nav-bar></app-nav-bar>
<p>
  Montrando {{ produtos.length }} produtos.
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">codProduto</th>
    <th data-field="name">Nome</th>
    <th data-field="name">Preço</th>
    <th data-field="name">Tipo</th>
    <th data-field="name">QntEstoque</th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.codProduto }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.precoProduto }}</td>
      <td>{{ produto.tipoProduto }}</td>
      <td>{{ produto.qntEstoque }}</td>
      <td>
        <a [routerLink]="['/api/produto', produto.codProduto]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="deleteProduto(produto)" href="">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/api/produto/novo">
    <i class="material-icons">add</i>
  </a>
</div>
