<app-nav-bar></app-nav-bar>
<h5>{{ title }}</h5>
<form>
  <div class="row">
    <div class="input-field col s10">
      <i class="material-icons prefix">account_circle</i>
      <select materialize="material_select" name="cliente" [materializeSelectOptions]="cliente" id="cliente"
        [attr.disabled]="isDisabled?true:null" [(ngModel)]="cliente" formControlName="cliente">
          <option value="" disabled selected>Cliente</option>
          <option>Cliente1</option>
          <option>Cliente1</option>
          <option>Cliente1</option>
      </select>
    </div>
    <div class="input-field col s2">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid" routerLink="/clientes/novo">
          Novo<i class="material-icons right">send</i>
        </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">shopping_cart</i>
        <select materialize="material_select" name="produtoRefeicoes" [materializeSelectOptions]="produtoRefeicoes" id="refeicao"
        [attr.disabled]="isDisabled?true:null" [(ngModel)]="produtoRefeicoes" formControlName="refeicoes">
          <option value="" disabled selected>Escolha a Refeição</option>
          <option>Pizza</option>
          <option>Sandwich</option>
          <option>Esfirra</option>
        </select>
        <label for="refeicao" [class.active]="produtoRefeicoes">Refeição </label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">label</i>
      <input id="qntRefeicao" type="number" class="validate" [(ngModel)]="produto.qntEstoque" formControlName="qntRefeicao">
      <label for="qntRefeicao" [class.active]="produto.qntEstoque">Quantidade</label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">payment</i>
      <input id="valorRefeicoes" type="number" class="validate" [(ngModel)]="produto.precoProduto" formControlName="valorRefeicoes">
      <label for="valorRefeicoes" [class.active]="produto.precoProduto">Valor Uni R$</label>
    </div>
        <div class="input-field col s2">
      <i class="material-icons prefix">payment</i>
      <input id="valorRefeicoes" type="number" class="validate" [(ngModel)]="produto.precoProduto" formControlName="valorRefeicoes">
      <label for="valorRefeicoes" [class.active]="produto.precoProduto">Valor TotalR$</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">shopping_cart</i>
        <select materialize="material_select" name="produtoSobremesas" [materializeSelectOptions]="produtoSobremesas" id="sobremesa"
        [attr.disabled]="isDisabled?true:null" [(ngModel)]="produtoSobremesas" formControlName="sobremesa">
          <option value="" disabled selected>Escolha a Sobremesa</option>
          <option *ngFor="let option of produtoSobremesas" [value]="option.value">{{option.name}}</option>
        </select>
        <label for="sobremesa" [class.active]="produtoSobremesas">Sobremesa </label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">label</i>
      <input id="qntEstoque" type="number" class="validate" [(ngModel)]="produto.qntEstoque" formControlName="qntSobremesa">
      <label for="qntEstoque" [class.active]="produto.qntEstoque">Quantidade</label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">payment</i>
      <input id="qntEstoque" type="number" class="validate" [(ngModel)]="produto.qntEstoque" formControlName="qntSobremesa">
      <label for="qntEstoque" [class.active]="produto.qntEstoque">Valor R$</label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">payment</i>
      <input id="valorRefeicoes" type="number" class="validate" [(ngModel)]="produto.precoProduto" formControlName="valorRefeicoes">
      <label for="valorRefeicoes" [class.active]="produto.precoProduto">Valor TotalR$</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">shopping_cart</i>
        <select materialize="material_select" name="produtoRefeicoes" [materializeSelectOptions]="produtoRefeicoes" id="refeicao"
        [attr.disabled]="isDisabled?true:null" [(ngModel)]="produtoRefeicoes" formControlName="bebida">
          <option value="" disabled selected>Escolha a Bebida</option>
          <option ></option>
        </select>
        <label for="refeicao" [class.active]="produtoRefeicoes">Bebida </label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">label</i>
      <input id="qntEstoque" type="number" class="validate" [(ngModel)]="produto.qntEstoque" formControlName="sobremesa">
      <label for="qntEstoque" [class.active]="produto.qntEstoque">Quantidade</label>
    </div>
    <div class="input-field col s2">
      <i class="material-icons prefix">payment</i>
      <input id="valorSobremesa" type="number" class="validate" [(ngModel)]="produto.qntEstoque" formControlName="sobremesa">
      <label for="qntEstoque" [class.active]="produto.qntEstoque">Valor R$</label>
    </div>
      <div class="input-field col s2">
      <i class="material-icons prefix">payment</i>
      <input id="valorRefeicoes" type="number" class="validate" [(ngModel)]="produto.precoProduto" formControlName="valorRefeicoes">
      <label for="valorRefeicoes" [class.active]="produto.precoProduto">Valor TotalR$</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input id="nome" type="text" class="validate" [(ngModel)]="cliente.nome" formControlName="entregador">
      <label for="nome" [class.active]="cliente.nome" data-error="Campo obrigatório e deve conter mais de 3 letras">
          Entregador
        </label>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s4">
      <button class="btn-large waves-effect waves-light" type="submit" [disabled]="!form.valid">
          Enviar<i class="material-icons right">send</i>
        </button>
    </div>
  </div>

</form>


<!--
  <div class="row">
   <div class="input-field col s6">
      <select materialize="material_select" name="selectedOption" [materializeSelectOptions]="selectOptions" [attr.disabled]="isDisabled?true:null"
      [(ngModel)]="selectedOption" >
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
      </select>
      <label>Materialize Select</label>
    </div>
  </div>
-->