<app-nav-bar></app-nav-bar>
<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="nome" type="text" class="validate" [(ngModel)]="cliente.nome" formControlName="nome" [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
        <label for="nome" [class.active]="cliente.nome" data-error="Campo obrigatório e deve conter mais de 3 letras">
          Nome
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">place</i>
        <input id="endereco" type="text" class="validate" [(ngModel)]="cliente.endereco" formControlName="endereco" [class.invalid]="form.controls['endereco'].touched && !form.controls['endereco'].valid">
        <label for="endereco" [class.active]="cliente.endereco" data-error="Campo obrigatório e deve conter mais de 3 letras">
          Endereço
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="email" type="text" class="validate" [(ngModel)]="cliente.email" formControlName="email" >
        <label for="email" [class.active]="cliente.email" data-error="E-mail Inválido">
          E-mail
        </label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="telefone" type="text" class="validate" [(ngModel)]="cliente.telefone" formControlName="telefone">
        <label for="telefone" [class.active]="cliente.telefone">Telefone</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">map</i>
        <input id="pontoDeReferencia" type="text" class="validate" [(ngModel)]="cliente.pontoDeReferencia" formControlName="pontoDeReferencia"
          [class.invalid]="form.controls['pontoDeReferencia'].touched && !form.controls['pontoDeReferencia'].valid">
        <label for="pontoDeReferencia" [class.active]="cliente.pontoDeReferencia" data-error="Campo obrigatório e deve conter mais de 3 letras">
          Ponto de Referência
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s5">
        <p>
          <input name="situacao" type="radio" id="ativo" />
          <label for="ativo">Ativo</label>
        </p>
      </div>
      <div class="input-field col s5">
        <p>
          <input name="situacao" type="radio" id="inativo" />
          <label for="inativo">Inativo</label>
        </p>
      </div>
      <div class="input-field col s2">
        <button class="btn-large waves-effect waves-light" type="submit" [disabled]="!form.valid">
          Enviar<i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </form>
</div>

<!--
    <div formGroupName="address">
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">place</i>
          <input id="street" type="text" class="validate"
                 [(ngModel)]="user.address.street" formControlName="street"
                 [class.invalid]="form.controls['address'].controls['street'].touched
                  && !form.controls['address'].controls['street'].valid">
          <label for="street"
                 [class.active]="user.address.street"
                 data-error="Invalid Street">
            Street
          </label>
        </div>
        <div class="input-field col s4">
          <input id="suite" type="text" class="validate"
                 [(ngModel)]="user.address.suite" formControlName="suite">
          <label for="suite" [class.active]="user.address.suite">Suite</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">map</i>
          <input id="city" type="text" class="validate"
                 [(ngModel)]="user.address.city" formControlName="city">
          <label for="city" [class.active]="user.address.city">City</label>
        </div>
        <div class="input-field col s4">
          <input id="zipcode" type="text" class="validate"
                 [(ngModel)]="user.address.zipcode" formControlName="zipcode"
                 [class.invalid]="form.controls['address'].controls['zipcode'].touched
                  && !form.controls['address'].controls['zipcode'].valid">
          <label for="zipcode"
                 [class.active]="user.address.zipcode"
                 data-error="Invalid ZipCode">
            ZipCode
          </label>
        </div>
      </div>
    </div>
    -->