
<nav class="nav-extended">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Disk Rango</a>
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="inactive"><a routerLink="/pedidos" routerLinkActive="active">Pedido</a></li>
      <li class="inactive"><a routerLink="/clientes" routerLinkActive="active">Cliente</a></li>
      <li class="inactive"><a routerLink="/produtos" routerLinkActive="active">Produtos</a></li>
      <li class="inactive"><a routerLink="/usuario" routerLinkActive="active">Usuario</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="active"><a routerLink="/pedidos" routerLinkActive="active">Pedido</a></li>
      <li><a routerLink="/clientes" routerLinkActive="active">Cliente</a></li>
      <li><a routerLink="/produtos" routerLinkActive="active">Produtos</a></li>
      <li><a routerLink="/usuario" routerLinkActive="active">Usuario</a></li>
    </ul>
  </div>
</nav>
