<app-nav-bar></app-nav-bar>
<h5>{{ title }}</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">receipt</i>
        <input id="nomeProduto" type="text" class="validate" [(ngModel)]="produto.nome" formControlName="nomeProduto" [class.invalid]="form.controls['nomeProduto'].touched && !form.controls['nomeProduto'].valid">
        <label for="nomeProduto" [class.active]="produto.nome" data-error="Campo obrigatório e deve conter mais de 3 letras">
          Nome
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">receipt</i>
        <input id="precoProduto" type="text" class="validate" [(ngModel)]="produto.precoProduto" formControlName="precoProduto" [class.invalid]="form.controls['precoProduto'].touched && !form.controls['precoProduto'].valid">
        <label for="precoProduto" [class.active]="produto.precoProduto" data-error="Campo obrigatório e deve conter mais de 3 letras">
          Preço
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">receipt</i>
        <select materialize="material_select" id="tipoProduto" type="text" class="validate"  [(ngModel)]="classe" formControlName="tipoProduto">
            <option> Refeição</option>
            <option>Sobremesa</option>
            <option>Bebida</option>
          </select>
        <label for="tipoProduto" [class.active]="produto.tipoProduto">
          Tipo de Produto
        </label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">receipt</i>
        <input id="qntEstoque" type="number" class="validate" [(ngModel)]="produto.qntEstoque" formControlName="qntEstoque">
        <label for="qntEstoque" [class.active]="produto.qntEstoque">Quantidade em Estoque</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s5">
        <p>
          <input name="situacao" type="radio" id="ativo" />
          <label for="ativo">Ativo</label>
        </p>
      </div>
      <div class="input-field col s5">
        <p>
          <input name="situacao" type="radio" id="inativo" />
          <label for="inativo">Inativo</label>
        </p>
      </div>
      <div class="input-field col s2">
        <button class="btn-large waves-effect waves-light" type="submit" [disabled]="!form.valid">
          Enviar<i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </form>
</div>

<!--
    <div formGroupName="address">
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">place</i>
          <input id="street" type="text" class="validate"
                 [(ngModel)]="user.address.street" formControlName="street"
                 [class.invalid]="form.controls['address'].controls['street'].touched
                  && !form.controls['address'].controls['street'].valid">
          <label for="street"
                 [class.active]="user.address.street"
                 data-error="Invalid Street">
            Street
          </label>
        </div>
        <div class="input-field col s4">
          <input id="suite" type="text" class="validate"
                 [(ngModel)]="user.address.suite" formControlName="suite">
          <label for="suite" [class.active]="user.address.suite">Suite</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">map</i>
          <input id="city" type="text" class="validate"
                 [(ngModel)]="user.address.city" formControlName="city">
          <label for="city" [class.active]="user.address.city">City</label>
        </div>
        <div class="input-field col s4">
          <input id="zipcode" type="text" class="validate"
                 [(ngModel)]="user.address.zipcode" formControlName="zipcode"
                 [class.invalid]="form.controls['address'].controls['zipcode'].touched
                  && !form.controls['address'].controls['zipcode'].valid">
          <label for="zipcode"
                 [class.active]="user.address.zipcode"
                 data-error="Invalid ZipCode">
            ZipCode
          </label>
        </div>
      </div>
    </div>
    -->