<app-nav-bar></app-nav-bar>
<div id="dvResult"></div>
<div class="row">
  <div class="col s6">
    <div id="btnRepresentandoEmpresa" class="center-align card-panel block-button" routerLink="/clientes/novo">
      <div class="block-button-text">Novo</div>
      <div class="block-button-phrase">Cadastrar Clientes</div>

    </div>
  </div>
  <div class="col s6">
    <div id="btnProduto" class="center-align card-panel block-button" routerLink="/clientes/listar">
      <div class="block-button-text">Listar</div>
      <div class="block-button-phrase">Listar Clientes</div>

    </div>
  </div>
</div>